# Sensitive data: API keys, private keys, secrets
NEXT_PUBLIC_PROJECT_ID=
AUTO_DRIVE_API_KEY=""
PRIVATE_KEY=
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="G-"

# Environment-specific values: URLs, endpoints that change between dev/staging/prod
NEXT_PUBLIC_HOST="http://localhost:3006"
NEXT_PUBLIC_NETWORK="taurus"
NEXT_PUBLIC_CONTRACT_ADDRESS="0x505c243ec05dF81bC33295fF7C135D4D98063Da5"
NEXT_PUBLIC_MAX_IMAGE_SIZE_MB=5

# Runtime configuration: Feature flags, debug modes

# External service configs: Database URLs, third-party API endpoints
NEXT_PUBLIC_RPC_ENDPOINT="https://auto-evm.taurus.autonomys.xyz/ws"
NEXT_PUBLIC_SUBGRAPH_API="https://subgraph.satsuma-prod.com/844d40ee491a/eternals-team--551974/eternal-mint-nfts-taurus/api"
NEXT_PUBLIC_PERMANENT_STORAGE_URL="https://explorer.autonomys.xyz/taurus/permanent-storage/files/"
